.main-wrapper {
    padding: 30px 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.columns {
    overflow: hidden;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
}

.inner-column {
    width: 18%;
    margin-left: 30px;
    margin-right: 10px;
    padding: 30px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff;
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff;
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
    transition: box-shadow 300ms;
    text-align: center;
}

.inner-column:hover {
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 20px #fff;
    -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 20px #fff;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 20px #fff;
}

@media screen and (max-width: 992px) {
    .inner-column {
        width: auto;
        margin-left: 20px;
        margin-right: auto;
        margin-top: 40px;
    }

    .main-wrapper {
        padding-top: 20px;
    }

    .columns {
        display: block;
    }
}